In [2]:
import pandas as pd
vastorms = pd.read_csv('vastorms_1950_present')

In [37]:
vastorms

,Storm Number,Storm Name,Storm Status,Lat,Lon,Time,Maxspeed
0,AL021952,ABLE,TS,36.6,-79.9,1952-09-01 00:00:00,40.0
1,AL021952,ABLE,TS,38.1,-78.6,1952-09-01 06:00:00,45.0
2,AL021952,ABLE,TS,39.5,-77.1,1952-09-01 12:00:00,50.0
3,AL031952,UNNAMED,TD,37.5,-82.3,1952-08-28 18:00:00,20.0
4,AL031953,BARBARA,HU,36.1,-75.9,1953-08-14 09:00:00,70.0
...,...,...,...,...,...,...,...
154,AL062018,FLORENCE,EX,37.8,-82.0,2018-09-17 12:00:00,25.0
155,AL062018,FLORENCE,EX,38.8,-82.0,2018-09-17 18:00:00,25.0
156,AL062018,FLORENCE,EX,39.5,-80.5,2018-09-18 00:00:00,25.0
157,AL142018,MICHAEL,EX,36.5,-77.7,2018-10-12 00:00:00,50.0
158,AL162019,NESTOR,EX,37.0,-76.7,2019-10-20 18:00:00,40.0

In [60]:
vastorms.tail()

,Storm Number,Storm Name,Storm Status,Lat,Lon,Time,Maxspeed
154,AL062018,FLORENCE,EX,37.8,-82.0,2018-09-17 12:00:00,25.0
155,AL062018,FLORENCE,EX,38.8,-82.0,2018-09-17 18:00:00,25.0
156,AL062018,FLORENCE,EX,39.5,-80.5,2018-09-18 00:00:00,25.0
157,AL142018,MICHAEL,EX,36.5,-77.7,2018-10-12 00:00:00,50.0
158,AL162019,NESTOR,EX,37.0,-76.7,2019-10-20 18:00:00,40.0

In [99]:
vastorms[vastorms["Storm Number"].count()>1]

KeyError: True